modules = ["nodejs-20", "web"]
run = "npm build"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm build"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 11950682
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
